
  
  .chip {
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    align-items: center;
 margin-left: 40%;
display:inline-block;

  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
.chip-content {
    padding-right: 10px; /* Adjust the value to your preference */
  }
  
  .chip {
    margin-bottom: 10px;
  }
  .chip-content {
    padding-right: 10px;
  }
  