<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted" id="footer">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h5 class="text-uppercase fw-bold mb-4" style="text-align: right;">אודותינו</h5>
            <p style="text-align: right;">
              עם צוות מומחים בתחום התיירות, מדריכים מנוסים ושיתופי פעולה עם ספקים מקומיים בכל פינה בעולם, 
              אנו משלבים את המיטב של כל יעד ומתאימים אותו באופן אישי לצרכים ולהעדפות שלכם.
              אנו מתמחים ביצירת חוויות טיול שאינן נשכחות, תוך שמירה על רמה גבוהה של שירות, בטיחות ונגישות.
              <br>
              יחד, ניצור זיכרונות שילוו אתכם לכל החיים.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4">אפשרויות נוספות </h5>
            <p>
              <label class="nav-link" routerLink="./allUser" class="text-reset" class="text-reset">מועדון מטילים</label>
            </p>
            <p>
              <label class="nav-link" routerLink="./allUser" class="text-reset" class="text-reset">כרטיסי טיסה מוזלים</label>
            </p>
            <p>
              <label class="nav-link" routerLink="./allUser" class="text-reset">הסוכנים שלנו</label>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4">
              לינקים מובילים
            </h5>
            <p>
              <label class="nav-link" routerLink="./private" class="text-reset">אזור אישי</label>
            </p>
            <p>
              <label class="nav-link" routerLink="./allTrips" class="text-reset">טיולים</label>
            </p>
            <p>
              <label class="nav-link" routerLink="./private" class="text-reset">עריכת פרטים</label>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4"> יצירת קשר </h5>
            <p>
              <i class="fas fa-map-marker-alt me-3"></i><a href="https://www.google.com/maps/search/?api=1&query=ישראל, מטיבי לכת 73, התקווה" target="_blank">התקווה 73</a>
            </p>
            <p>
                <i class="fas fa-envelope me-3"></i><a href="mailto:m0583202575@gmail.com"></a>
              </p>
            <p>
              <i class="fas fa-home me-3"></i><a href="tel:+0779563247">077-9563247</a>
            </p>
        
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 by yael&miryam
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->